@model BingoCard.Models.Player
@{
    string msg = string.Empty;
    BingoCard.DataAccess.BingoCardDBContext db = new BingoCard.DataAccess.BingoCardDBContext();
    BingoCard.Models.Room room = new BingoCard.Models.Room();
    if (Model.RoomId == Guid.Empty) { msg = "Playing alone..."; }
    else
    {

        if (room.WinnerPlayer != Guid.Empty && (room.WinnerPlayer != Model.Id))
        {
            var winnerPlayer = db.Players.Find(room.WinnerPlayer);
            msg = winnerPlayer.Name + " wins.";
        }
        else { msg="Someone wins:"+ room.WinnerPlayer; }
    }
}
<h3>@msg</h3>
