@{
    ViewBag.Title = "BingoCard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1></h1>
<div class="row">
    <div class="col-md-12">
        <p><a class="btn btn-primary btn-lg center-block" href="#">New player</a></p>
        <p><a class="btn btn-primary btn-lg center-block" href="#">Select player</a></p>
        <p><a class="btn btn-primary btn-lg center-block" href="#">Ranking</a></p>
    </div>
</div>
