@{
    ViewBag.Title = "BingoCard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@* Body Card *@
<h1></h1>
<div class="row">
    <div class="col-md-12">
        @foreach (var item in Model)
        {
            <div class="btn-group btn-group-justified">
                @foreach (int number in item)
                {                   
                    var square = (number == 0) ? "" : number.ToString();
                    var color = (number == 0) ? "btn-primary" : "btn-default";
                    <a class="btn @color btn-lg" style="font-size : 300%; width: 100px; height: 100px;" href="#" role="button">@square</a>
                }
            </div>
        }
    </div>
</div>
    

