@{
    ViewBag.Title = "BingoCard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@* Body Card *@
<h1></h1>
<div class="container-fluid">
    <div class="d-flex flex-sm-row">
        @foreach (var item in Model)
        {
        <div class="row">
            @foreach (var number in item)
            {
                <a class="button buttonGrey" href="#" role="button">
                    @number
                </a>
            }
        </div> 
            }
    </div>
</div>
    

